<!DOCTYPE html>
{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Main page</title>
</head>
<body>
    <div class="header">
        <h2 class="title-heading">Football stats</h2>
        <button class="logout-button"><a href="{% url 'logout' %}" id="logout-link">Logout</a></button>
    </div>
    <p id="user-text">Hello {{ current_user }}</p>
    <div id="flag-container">
        <p id="choose-country-text">Choose league</p>
        <table>
            <tr>
                <td>
                    <a href="{% url 'league_detail' 39 %}">
                        <img src="https://media-4.api-sports.io/football/leagues/39.png" alt="League 1" class="country-flag">
                    </a>
                </td>
                <td>
                    <a href="{% url 'league_detail' 135 %}">
                        <img src="https://media-4.api-sports.io/football/leagues/135.png" alt="League 2" class="country-flag">
                    </a>
                </td>
                <td>
                    <a href="{% url 'league_detail' 140 %}">
                        <img src="https://media-4.api-sports.io/football/leagues/140.png" alt="League 3" class="country-flag">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'league_detail' 61 %}">
                        <img src="https://media-4.api-sports.io/football/leagues/61.png" alt="League 4" class="country-flag">
                    </a>
                </td>
                <td>
                    <a href="{% url 'league_detail' 78 %}">
                        <img src="https://media-4.api-sports.io/football/leagues/78.png" alt="League 5" class="country-flag">
                    </a>
                </td>
                <td>
                    <a href="{% url 'league_detail' 106 %}">   
                        <img src="https://media-4.api-sports.io/football/leagues/106.png" alt="League 6" class="country-flag">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>